*{
    margin:0;
    padding:0;
}
body{
    height:fit-content;
}
#name{
    font-size:30px;
}

#container{
    display:flex;
   
   

}
#sidebar{
    background-color:#343A40;
    width:135px;
   padding-left:90px;
   color:white;
   
    height:600px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.list{
    margin:35px 0 35px 0;
    cursor:pointer; 
    list-style: none;
}
a{
    text-decoration: none;
    color:white;

}
a:hover{
    color:red;
}

 #mainpre{
    display:inline;
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
 }

 #submain{
    height:250px;
    width:600px;
   
    align-self:center;
    display:flex;
    align-items:center;
    border-top:5px solid red;
    border-bottom:5px solid red;
    

 }
 button{
height:30px;
width:90px;
border-radius:15px;
color:white;
background-color:#343A40;
cursor: pointer;
     
 }

 
 

 